@import '../../../common/constants/colors';
@import '../../../common/constants/fonts';


.container {
  transition: all 0.4s;
  border: 1px solid $gray;
  border-radius: 10px;
  padding: 8px 40px;

  font-family: $flowerFont;
  font-size: 18pt;
  color: gray;
  box-shadow: 1px 1px 1px 1px;
}

.container:hover {
  cursor: pointer;
  background-color: $red;
  color: white;
  box-shadow: 1px 1px 1px 1px;
  border: 1px solid $gray;
  outline: 0;
}