@import '../../common/styles';

$itemHeight: 60px;

.container {
  width: 100%;
}

.itemContainer {
  margin-bottom: $pad;
  min-height: $itemHeight;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $lightGray;
  border: 1px solid $gray;
  &:hover {
    background-color: $gray;
    cursor: pointer;
  }
}

.lefted {
  height: $itemHeight;
  padding: $pad;
  width: 50%;
  text-align: left;
  font-size: 15pt;
}

.righted {
  height: $itemHeight;
  color: $darkGray;
  padding: $pad;
  width: 50%;
  text-align: right;
}

.closed {
  display: flex;
  max-height: 0px;
  -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  overflow: hidden;
  transition: max-height 1s;
  background-color: $lightRed;
}

.open {
  max-height: 100px;
}

.details {
  display: flex;
  flex: 2;
  width: 100%;
  height: 100%;
  flex-direction: row;
  /* border-top: 2px solid $gray; */
}

.detailsContainer {
  flex: 1;
  text-align: center;
  font-family: $bodyFont;
  padding: 5px;
  &:hover {
    cursor: pointer;
  }
}

.email {
  text-decoration: none;
  color: $black;
  background-color: $gray;
  &:hover {
    background-color: $darkGray;
  }
}

.report {
  background-color: $darkRed;
  color: $white;
  &:hover {
    background-color: $red;
  }
}